{% extends 'base_user.html' %}
{% block title %} {{ title }} {% endblock %}

{% block head %}
{% load static %}
{% endblock %}

{% block container %}

<main class="container-fluid my-5">

  <div class="row">

    <section class="col-md-3"></section>

    <section class="col-md-6 border border-success shadow-lg p-3 mb-5 bg-body-tertiary rounded m-3">

        <section class="card-header border-bottom border-secondary">

          <a class="text-success" href="{% url 'home:home' %}">
            <h4 class="title font-weight-bold">Seja Bem Vindo(a)</h4>
          </a>
          
          <h6 class="subtitle">Entre com sua conta</h6>
          {% include 'messages.html' %}

        </section>

        <section class="card-body">

          <form action="{% url 'activation:login' %}" method="POST">
            {% csrf_token %}

            <section class="row">

              <div class="col-md-6 mb-2">
                <span class="font-weight-bold">Usuário</span>
                <input class="form-control" name="username" type="text">
              </div>
              
              <div class="col-md-6">
                <span class="font-weight-bold">Senha</span>
                <input class="form-control" name="password" type="password">
              </div>

            </section>

            <button class="btn btn-success btn-sm mt-3 px-5">ENTRAR</button>

          </form>

        </section>

        <section class="card-footer border-top border-secondary pt-4">

          <div class="row text-center">

            <div class="col-md-6">
              <h5 class="font-weight-bold">Não tem uma conta ? </h5>
            </div>

            <div class="col-md-6">
              <a href="{% url 'activation:register' %}" class="btn btn-outline-success btn-sm px-5">REGISTRAR</a>
            </div>

          </div>

        </section>


    </section>

    <section class="col-md-3"></section>

  </div>

</main>

{% endblock %}